* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eef0f2;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.search input {
    border-radius: 10px;
    width: 600px;
    height: 40px;
    box-shadow: 3px 3px 4px black;
}

.search input::placeholder {
    text-align: center;
}

.import button {
    margin-left: 3em;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    box-shadow: 3px 3px 4px black;
    transition: all 0.2s;
}

.import button:hover {
    background-color: #00b4d8;
    color: white;
    transform: scale(1.1);
}

/* ========================= */

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}


.boxMusic {
    display: none;
    background-color: #64b5f6;
    width: 2300px;
    margin: 2rem;
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 3px 5px 2px #1a1a1a;
}

/* ======================================= */

.btmContainer {
    background: linear-gradient(to left,#1a1a1a 0%, #23dc42 100%);
    padding: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playMusic {
    color: white;
}

.songList {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-bottom: #000 4px solid;
    transition: all 0.5s;
}

.songList:hover{
    transform: scale(1.02);
}

.songCover {
    border-radius: 100%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    transition: scale 0.5s, rotate 0.9s;
}

.songCover:hover {
    scale: calc(1.1);
    rotate: calc(360deg);
}

.songInfo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    font-weight: bold;
}

.songDuration {
    text-align: right;
}